.app__navbar {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  box-shadow: 0 0 20px rgba(168, 168, 168, 0.8);
  z-index: 2;
  
  &:hover {
    box-shadow: 0 0 20px rgba(168, 168, 168, 0.8);
    transition: all 0.4s ease-in-out;
  }
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  


  img {
    width: 250px;
    height: auto;
    opacity: 0.5;
    
    @media screen and(min-width: 2000px) {
      width: 180px;
      height: 40px;
    }
  }
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;

  li {
    margin: 0 1rem;
    cursor: pointer;
    flex-direction: column;

    div {
        width: 8px;
        height: 8px;
        background: transparent;
        border-radius: 50%;
        margin-bottom: 5px;
    }

    a {
        color: var(--gray-color);
        text-decoration: none;
        text-transform: uppercase;
        flex-direction: column;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        font-size: 1.6rem;
        letter-spacing: 0.35rem;

        &:hover {
            color: var(--secondary-color);
        }
    }

    &:hover {
        div {
            background: var(--secondary-color);
        }
    }
  }

  @media screen and(max-width: 850px) {
    display: none;
  }
}

.app__navbar-menu {
  width: 36px;
  height: 36px;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);

  svg {
    width: 75%;
    height: 75%;
    color: var(--white-color);
  }

  div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    padding: 1rem;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    background: url('../../assets/bgWhite.png');
    background-size: cover;
    background-repeat: repeat;
    background-color: var(--white-color);
    box-shadow: 0 0 20px rgba(168, 168, 168, 0.8);

    svg {
      width: 34px;
      height: 34px;
      color: var(--secondary-color);
      margin: 0.5rem 1rem;
    }

    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        list-style-type: none;
        margin: 1rem;

        a {
          text-decoration: none;
          color: var(--gray-color);
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: bold;
          transition: all 0.3s ease-in-out;
          font-size: 1.2rem;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }

    @media screen and(min-width: 8500px){
      display: none;
    }
  }
  @media screen and(min-width: 850px){
    display: none;
  }
}
